<div class="container home-container text-center mt-5">
  <h1 class="">Welcome to NMS Cinemas</h1>

  <div class="quick-links mt-5">
    <h3>Explore the app</h3>
    <div class="row">
      <div class="col-md-4">
        <a routerLink="/movies" class="btn btn-outline-secondary w-100">
          Browse Movies</a
        >
      </div>
      <div class="col-md-4">
        <a routerLink="/cinemas" class="btn btn-outline-secondary w-100"
          >View Cinemas</a
        >
      </div>
      <div class="col-md-4">
        <a routerLink="/bookings" class="btn btn-outline-secondary w-100">
          My Bookings</a
        >
      </div>
    </div>
  </div>
</div>
